* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* 7dd56f */


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Inter,Helvetica,Arial,sans-serif;
  background-color: #efefef;
}

main {
    display: block;
    background-color: #efefef;
    padding-top:16px ;
}

.cart-container{
    width: 100%;
    max-width: 1440px;
    padding: 24px 24px 8px;
    margin-right: auto;
    margin-left: auto;
}

.cart-main-title{
    display: flex;
    margin: 0px 0px 12px;
    align-items: center;
    z-index: 100;
    margin-bottom: 20px;
}

.cart-main-title h4{
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
}

.cart-content{
    display:flex;
    justify-content: space-between;
}

.cart-content-left{
    width: 1052px;
    height: 1000px;
}

.cart-content-heading{
    background: white;
    padding: 8px 16px;
    border-radius: 4px;
    color: #242424;
    font-size: 13px;
    font-weight: 400;
    position: sticky;
    top: 20px;
    z-index: 99;
    margin-bottom: 12px;
    align-items: center;
}

.cart-content-heading::before{
    content: "";
    background: #f5f5fa;
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0px;
    top: -20px;
    right: 0px;
}

.cart-content-heading::after{
    content: "";
    background: #f5f5fa;
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0px;
}

.cart-grid{
    display: grid;
    grid-template-columns: auto 180px 120px 120px 20px;
    column-gap: 24px;
}

.checkbox-styled{
    display: flex;
    align-items: flex-start;
    width: 484px;
    height: 20px;
}

.checkbox-styled .checkbox{
    width: 18px;
    height: 18px;
    border: 1px solid #c4c4cf;
    border-radius: 4px;
    margin-right: 8px;
    position: relative;
    z-index: 1;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.3s linear 0s;
}

.checkbox-styled .label{
    font-size: 14px;
    line-height: 20px;
    color: #38383d;
}

.cart-content-heading span {
    color: #787878;
}

.cart-content-heading i {
    color: #787878;
    font-size: 16px;
}

.styled-seller{
    background: white;
    border-radius: 4px;
    margin-bottom: 10px;
}

.styled-seller .seller-group{
    padding: 16px;
    display: flex;
    align-items: center;
}

.checkbox-styled .seller-name{
    font-size: 14px;
    line-height: 20px;
    color: #38383d;
    font-weight: 500;
}

.checkbox-styled img{
    margin-left: 2px;
    margin-right: 6px;
}

.checkbox-styled i{
    color: #818181;
}

.seller-product{
    padding: 16px;
    align-items: center;
}

.seller-product .item-info{
    display: grid;
    grid-template-columns: 18px 80px 1fr;
    column-gap: 12px;
    align-items: center;
}

.seller-product .item-action{
    cursor: pointer;
}

.info-styled{
    display: grid;
    row-gap: 4px;
}

.info-styled a {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: #27272a;
    text-overflow: ellipsis;
    overflow: hidden;
}

.info-styled .styled-delivery-title{
    display: flex;
}

.info-styled .styled-delivery-title img{
    margin-right: 4px;
}

.info-styled .styled-delivery-title span{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.info-styled .styled-book-care{
    color: #808089;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    margin: 0px;
}

.item-price .item-price-styled{
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: #27272a;
}

.item-quantity{
    display: inline-flex;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    width: 84px;
}

.item-quantity .qty-decrease{
    display: flex;
    border-right: 1px solid #c8c8c8;
    color: #999999;
    cursor: pointer;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
}

.item-quantity i {
    font-size: 12px ;
}

.item-quantity .qty-input {
    border: none;
    width: 32px;
    text-align: center;
    font-size: 13px;
    margin: 0px;
    outline: none;
}

.item-quantity .qty-increase{
    display: flex;
    border-left: 1px solid #c8c8c8;
    color: #999999;
    cursor: pointer;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
}

.item-subtotal{
    color: rgb(255, 66, 78);
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    white-space: nowrap
}

.seller-discount{
    display: flex;
    padding: 16px 20px;
    align-items: center;
    border: 1px solid #f2f2f2;
}

.discount-wrapper{
    display: inline-flex;
    align-items: center;
}

.discount-wrapper .description{
    color: #242424;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 12px;
    white-space: nowrap;
}

.discount-wrapper i{
    font-size: 15px;
    color: #787887;
}

.block-styled{
    width: 320px;
    /* height: 157px; */
    border-radius: 4px;
    margin-bottom: 12px;
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    background-color: rgb(255, 255, 255);
}

.block-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 14px;
}

.block-header-title{
    color: rgb(128, 128, 137);
    font-weight: normal;
    margin: 0px;
}

.block-header-nav{
    color: #55c57a;
    text-decoration: none;
}

.customer-info{
    display: flex;
    align-items: center;
    color: #38383d;
    margin-bottom: 2px;
    font-weight: 600;
}

.customer-info i{
    display: block;
    width: 1px;
    height: 20px;
    background-color: #ebebf0;
    margin: 0px 8px;
}

.address-styled{
    color: #808089;
    text-decoration: none;
    white-space: normal;
    font-size: 14px;
}

.address-type-home{
    color: #00ab56;
    background-color: #effff4;
    font-size: 12px;
    font-weight: 500;
    padding: 0px 6px;
    border-radius: 100px;
    margin-right: 4px;
    height: 18px;
    display: inline-flex;
    align-items: center;
}


.block-header-usage{
    color: rgb(120, 120, 120);
    display: flex;
    align-items: center;
}

.block-header-usage span {
    margin-right: 5px;
}


.coupon-block .show-more{
    display: flex;
    align-items: center;
    color: rgb(11, 116, 229);
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
    margin-top:20px
}

.coupon-block .show-more i {
    font-size: 20px;
    margin-right: 10px;
}

.price-summary{
    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding-bottom: 8px;
}

.price-summary .price-items{
    list-style: none;
    margin: 0px;
    padding: 17px 20px;
    border-bottom: 1px solid rgb(244, 244, 244);
}

.price-summary .price-item{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.price-summary .price-text{
    font-weight: 300;
    color: rgb(51, 51, 51);
    display: inline-block;
}

.price-summary .price-total{
    padding: 17px 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0px;
}

.price-summary .price-content{
    text-align: right;
}

.price-summary .price-values-final{
    color: rgb(254, 56, 52);
    font-size: 22px;
    font-weight: 500;
    text-align: right;
     margin-top: -8px;
}

.price-summary .price-values-empty{
    color: rgb(254, 56, 52);
    font-size: 15px;
    font-weight: 500;
    text-align: right;
}

.price-summary .price-values-noted{
    font-weight: 300;
    font-style: normal;
    display: block;
    font-size: 12px;
    color: rgb(51, 51, 51);
    margin-top: 3px;
}



/*--------------------------------------XÁC NHẬN XÓA SẢN PHẨM-------------------------------------*/

.overlay-confirm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 100;
}



.confirm-box {
    position: absolute;
    width: 311px;
    height: 166px;
    padding: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dialog-content{
    display: flex;
    margin-bottom: 24px;
    gap:8px;
}

.dialog-content i{
    margin-top: 3px;
    color: #FC820A;
    font-size: 18px
}

.dialog-content .dialog-content-text .dialog-title{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}
.dialog-content .dialog-content-text .dialog-message{
    font-size: 14px;
    line-height: 20px;
    color: rgb(81, 81, 88);
}

.dialog-control {
    display: flex;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    justify-content: flex-end;
}

.dialog-control-btn{
    padding: 8px 16px;
    border-radius: 4px;
    height: 36px;
    cursor: pointer;
    box-sizing: border-box;
}

.confirm-btn{
    border: 1px solid #55c57a;
    color: #55c57a;
    margin-right: 8px;
}

.cancel-btn{
    background-color: #55c57a;
    color: #fff;
    border: none;
}

.block-order{
    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding-bottom: 8px;
    padding: 16px;
    border-bottom: 1px solid rgb(244, 244, 244);
}

.block-order .flex-row-styled{
    display: flex;
    justify-content: space-between;
}

.block-order .block-order-title{
    font-weight: 500;
    color: rgb(56, 56, 61);
    margin: 0px;
}

.block-order .block-order-nav{
    color: #55c57a;
    text-decoration: none;
}

.block-order .block-order-subtitle{
    display: flex;
    align-items: center;
}

.block-order .block-order-subtitle .subtitle-text{
    color: rgb(128, 128, 137);
    font-weight: 400;
    margin: 0px 4px 0px 0px;
}

.block-order .block-order-subtitle .subtitle-link{
    display: flex;
    align-items: center;
    color: #55c57a;
    font-weight: 400;
    margin: 0px;
    cursor: pointer;
}

.block-order .block-order-subtitle .subtitle-link i{
    margin-left: 5px;
    font-size:10px;
}
